.header{
    background-image: url("../images/background.jpg");
    background-color:rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}
.header-div{
    height: 400px;
}
.text{
    max-width: 400px    ;
}
.progress-bar{
    width: 2px;
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.d-flex{
    display: flex;
}
/*
.timeline-section:before {
    content: "";
    width: 2px;
    height: 200px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/
.timeline-section:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #cbcbcb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.gallery-desc{

}
.text-5xl{
    font-size: 3rem;
}
.timeline-img {
    width: auto;
    max-height: 300px;
    border-radius: 20px;
    z-index: 5;
}
.year {
    position: relative;
    z-index: 2;
    font-size: .75rem;
    color: rgba(54,63,84,.3);
    position: absolute;
    left: -48px;
    transform: translateX(-50%);
    top: 20%;
    background: #f3f4f6;
    padding: 10px;
    font-weight: 700;
}
.img-gallery {

    /*height: 200px;*/
    object-fit: cover;
    border-width: 4px 0 0 4px;
    border-radius: 30px 5px 30px 5px;
}
.position-relative{
    position: relative;
}
.zachrana{
    position: relative;
    z-index: 5;
    border-radius: 30px 0;
    height: 100%;
}
.zachrana::before , .zachrana:after {
    content: '';
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 1px solid #2b498f52;
    pointer-events: none;
    transition: .33s all ease;

}

.zachrana-gallery::before , .zachrana-gallery:after{
    border: 1px solid #8ca5de63;
}

.zachrana:before {
    top: 0;
    left: 0;
    border-width: 4px 0 0 4px;
    border-top-left-radius: 30px;
}
.zachrana:after {
    bottom: 0;
    right: 0;
    border-width: 0 4px 4px 0;
    border-bottom-right-radius: 30px;
}

.zachrana:hover:before {
    width: 100%;
    height: 100%;
    border-color: rgba(43, 73, 143, 1);
}

.zachrana:hover:after {
    width: 100%;
    height: 100%;
    border-color: rgba(43, 73, 143, 1);
}

.zachrana:hover .underline-sluzba{
    border-bottom:4px solid rgba(43, 73, 143, 1);
}


@media (max-width: 768px){
    .img-gallery{
        height: 30vh;
    }
}
@media (max-width: 640px) {
    /*
    .timeline:before {
        left: auto;
        right: 22px;
    }
    */
    .img-gallery{
        height: 50vh;
    }
    .progress-bar{
        left: auto;
        right: 22px;
    }
    .timeline-section:before {
        left: auto;
        right: 22px;
    }
    .year {
        left: auto;
        right: -64px;

    }
    .div-img{
        justify-content: center!important;
    }


}
/*.timeline:nth-child(odd) .col .year {*/
